---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS9829 National Internet Backbone","city":"Jaipur","country":"India","countryCode":"IN","isp":"BSNL","lat":26.9167,"lon":75.8167,"org":"BSNL","query":"117.203.3.218","region":"RJ","regionName":"Rajasthan","status":"success","timezone":"Asia/Kolkata","zip":""}'
  recorded_at: Sun, 23 Oct 2016 05:36:48 GMT
- request:
    method: get
    uri: http://ip-api.com/json/94.177.243.88
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS199653 ARUBAFR-AS","city":"Paris","country":"France","countryCode":"FR","isp":"Aruba
        S.p.A.","lat":48.8667,"lon":2.3333,"org":"Aruba S.p.A.","query":"94.177.243.88","region":"J","regionName":"Île-de-France","status":"success","timezone":"Europe/Paris","zip":"75001"}'
  recorded_at: Sun, 23 Oct 2016 05:36:49 GMT
recorded_with: VCR 3.0.3
