---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS9829 National Internet Backbone","city":"Jaipur","country":"India","countryCode":"IN","isp":"BSNL","lat":26.9167,"lon":75.8167,"org":"BSNL","query":"117.204.249.174","region":"RJ","regionName":"Rajasthan","status":"success","timezone":"Asia/Kolkata","zip":""}'
  recorded_at: Mon, 24 Oct 2016 09:27:31 GMT
- request:
    method: get
    uri: http://ip-api.com/json/87.98.219.96
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS16276 OVH","city":"Roubaix","country":"France","countryCode":"FR","isp":"OVH
        SAS","lat":50.6929,"lon":3.19783,"org":"OVH SAS","query":"87.98.219.96","region":"O","regionName":"Nord-Pas-de-Calais","status":"success","timezone":"Europe/Paris","zip":""}'
  recorded_at: Mon, 24 Oct 2016 09:27:31 GMT
recorded_with: VCR 3.0.3
