---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/123.123.123.123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS4808 China Unicom Beijing Province Network","city":"Beijing","country":"China","countryCode":"CN","isp":"China
        Unicom Beijing","lat":39.9289,"lon":116.3883,"org":"China Unicom Beijing","query":"123.123.123.123","region":"11","regionName":"Beijing","status":"success","timezone":"Asia/Shanghai","zip":""}'
  recorded_at: Sun, 23 Oct 2016 00:55:08 GMT
recorded_with: VCR 3.0.3
