---
http_interactions:
- request:
    method: get
    uri: https://rawgit.com/nikhgupta/3a8703f8659a1739647c3c480a95ed87/raw/6ada5385033609f843155e57949c244c9c6188d8/sample.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"2bea5fd966c4cbccdecb65691954bd3ca2f58173"
      Rawgit-Cache-Status:
      - EXPIRED
    body:
      encoding: UTF-8
      string: |-
        {
          "note": {
            "to": "Tove",
            "from": "Jani",
            "heading": "Reminder",
            "body": "Don't forget me this weekend!"
          }
        }
  recorded_at: Sat, 22 Oct 2016 17:17:47 GMT
recorded_with: VCR 3.0.3
