---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS9829 National Internet Backbone","city":"Jaipur","country":"India","countryCode":"IN","isp":"BSNL","lat":26.9167,"lon":75.8167,"org":"BSNL","query":"117.204.249.174","region":"RJ","regionName":"Rajasthan","status":"success","timezone":"Asia/Kolkata","zip":""}'
  recorded_at: Mon, 24 Oct 2016 09:28:32 GMT
- request:
    method: get
    uri: https://gist.githubusercontent.com/nikhgupta/7a3588c8b881771868dab6e04dbbac71/raw/4fd767d8af480d124a94d9d40f8a8a61132ac627/sha512.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c82dad25bb6c96a804f4b07adffeb5b17f194414"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - ffb6a7661d86095f568a4d7e73b280a60ff9684b
      Source-Age:
      - '115'
    body:
      encoding: UTF-8
      string: ccabbcb61781a9ca2b7a3c85d0c61aeb139bd014789a165a35e17a00e4be40c5448f89a59e4554296a149832fbaf303a87a2d04a5fa1edb70d80f69b048c0d99
  recorded_at: Mon, 24 Oct 2016 09:28:35 GMT
- request:
    method: get
    uri: http://www.rx2.eu/ivy/azenv.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
        <title>AZ Environment variables 1.04</title>
        </head>
        <body>
        <pre>
        HTTP_HOST = www.rx2.eu
        HTTP_X_REAL_IP = 87.98.219.96
        HTTP_X_FORWARDED_FOR = unknown, 87.98.219.96
        HTTP_X_ACCEL_INTERNAL = /internal-nginx-static-location
        HTTP_CONNECTION = close
        HTTP_USER_AGENT = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36
        HTTP_VIA = 1.1 ns321847.ip-87-98-219.eu (squid/3.4.8)
        HTTP_CACHE_CONTROL = max-age=259200
        REMOTE_ADDR = 87.98.219.96
        REMOTE_PORT = 56744
        REQUEST_METHOD = GET
        REQUEST_URI = /ivy/azenv.php
        REQUEST_TIME_FLOAT = 1477301314.133
        REQUEST_TIME = 1477301314
        </pre>
        </body>
        </html>
  recorded_at: Mon, 24 Oct 2016 09:28:39 GMT
- request:
    method: get
    uri: https://www.rx2.eu/ivy/azenv.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - http://www.rx2.eu/ivy/azenv.php
    body:
      encoding: ISO-8859-1
      string: ''
  recorded_at: Mon, 24 Oct 2016 09:28:45 GMT
[...]
- request:
    method: get
    uri: https://luisaranguren.com/azenv.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"\r\n
        \  \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\"
        xml:lang=\"en\" lang=\"en\">\r\n<head>\r\n<title>AZ Environment variables
        1.04</title>\r\n</head>\r\n<body>\r\n<pre>\r\nHTTPS = on\nHTTP_USER_AGENT
        = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML,
        like Gecko) Chrome/53.0.2785.143 Safari/537.36\nHTTP_CONNECTION = close\nHTTP_HOST
        = luisaranguren.com\nREMOTE_ADDR = 87.98.219.96\nREQUEST_SCHEME = https\nREMOTE_PORT
        = 50338\nREQUEST_METHOD = GET\nREQUEST_URI = /azenv.php\nREQUEST_TIME_FLOAT
        = 1477301328.441\nREQUEST_TIME = 1477301328\n</pre>\r\n</body>\r\n</html>"
  recorded_at: Mon, 24 Oct 2016 09:29:07 GMT
- request:
    method: post
    uri: https://www.rx2.eu/ivy/azenv.php
    body:
      encoding: UTF-8
      string: test=text
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - http://www.rx2.eu/ivy/azenv.php
    body:
      encoding: ISO-8859-1
      string: ''
  recorded_at: Mon, 24 Oct 2016 09:29:18 GMT
recorded_with: VCR 3.0.3
