---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS9829 National Internet Backbone","city":"Jaipur","country":"India","countryCode":"IN","isp":"BSNL","lat":26.9167,"lon":75.8167,"org":"BSNL","query":"117.203.3.218","region":"RJ","regionName":"Rajasthan","status":"success","timezone":"Asia/Kolkata","zip":""}'
  recorded_at: Sun, 23 Oct 2016 07:49:33 GMT
- request:
    method: get
    uri: http://www.rx2.eu/ivy/azenv.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
        <title>AZ Environment variables 1.04</title>
        </head>
        <body>
        <pre>
        HTTP_HOST = www.rx2.eu
        HTTP_X_REAL_IP = 94.177.243.88
        HTTP_X_FORWARDED_FOR = 117.203.3.218, 94.177.243.88
        HTTP_X_ACCEL_INTERNAL = /internal-nginx-static-location
        HTTP_CONNECTION = close
        HTTP_USER_AGENT = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36
        HTTP_VIA = 1.1 Gokhan (squid/3.3.8)
        HTTP_CACHE_CONTROL = max-age=259200
        REMOTE_ADDR = 94.177.243.88
        REMOTE_PORT = 39022
        REQUEST_METHOD = GET
        REQUEST_URI = /ivy/azenv.php
        REQUEST_TIME_FLOAT = 1477208969.937
        REQUEST_TIME = 1477208969
        </pre>
        </body>
        </html>
  recorded_at: Sun, 23 Oct 2016 07:49:35 GMT
[...]
- request:
    method: get
    uri: http://luisaranguren.com/azenv.php
    body:
      encoding: UTF-8
      string: test=text
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 411
      message: Length Required
    headers:
      Mime-Version:
      - '1.0'
      Content-Type:
      - text/html
      X-Squid-Error:
      - ERR_INVALID_REQ 0
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\">\n<html><head>\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<title>ERROR:
        The requested URL could not be retrieved</title>\n<style type=\"text/css\"><!--
        \n /*\n Stylesheet for Squid Error pages\n Adapted from design by Free CSS
        Templates\n http://www.freecsstemplates.org\n Released for free under a Creative
        Commons Attribution 2.5 License\n*/\n\n/* Page basics */\n* {\n\tfont-family:
        verdana, sans-serif;\n}\n\nhtml body {\n\tmargin: 0;\n\tpadding: 0;\n\tbackground:
        #efefef;\n\tfont-size: 12px;\n\tcolor: #1e1e1e;\n}\n\n/* Page displayed title
        area */\n#titles {\n\tmargin-left:[...]
[...]
