---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS9829 National Internet Backbone","city":"Jaipur","country":"India","countryCode":"IN","isp":"BSNL","lat":26.9167,"lon":75.8167,"org":"BSNL","query":"117.204.249.174","region":"RJ","regionName":"Rajasthan","status":"success","timezone":"Asia/Kolkata","zip":""}'
  recorded_at: Mon, 24 Oct 2016 09:27:39 GMT
- request:
    method: get
    uri: http://www.rx2.eu/ivy/azenv.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
        <title>AZ Environment variables 1.04</title>
        </head>
        <body>
        <pre>
        HTTP_HOST = www.rx2.eu
        HTTP_X_REAL_IP = 87.98.219.96
        HTTP_X_FORWARDED_FOR = unknown, 87.98.219.96
        HTTP_X_ACCEL_INTERNAL = /internal-nginx-static-location
        HTTP_CONNECTION = close
        HTTP_USER_AGENT = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36
        HTTP_VIA = 1.1 ns321847.ip-87-98-219.eu (squid/3.4.8)
        HTTP_CACHE_CONTROL = max-age=259200
        REMOTE_ADDR = 87.98.219.96
        REMOTE_PORT = 54424
        REQUEST_METHOD = GET
        REQUEST_URI = /ivy/azenv.php
        REQUEST_TIME_FLOAT = 1477301254.945
        REQUEST_TIME = 1477301254
        </pre>
        </body>
        </html>
  recorded_at: Mon, 24 Oct 2016 09:27:40 GMT
- request:
    method: get
    uri: https://www.rx2.eu/ivy/azenv.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - http://www.rx2.eu/ivy/azenv.php
    body:
      encoding: ISO-8859-1
      string: ''
  recorded_at: Mon, 24 Oct 2016 09:27:45 GMT
- request:
    method: get
    uri: http://www.rx2.eu/ivy/azenv.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
        <title>AZ Environment variables 1.04</title>
        </head>
        <body>
        <pre>
        HTTP_HOST = www.rx2.eu
        HTTP_X_REAL_IP = 87.98.219.96
        HTTP_X_FORWARDED_FOR = unknown, 87.98.219.96
        HTTP_X_ACCEL_INTERNAL = /internal-nginx-static-location
        HTTP_CONNECTION = close
        HTTP_USER_AGENT = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36
        HTTP_VIA = 1.1 ns321847.ip-87-98-219.eu (squid/3.4.8)
        HTTP_CACHE_CONTROL = max-age=259200
        REMOTE_ADDR = 87.98.219.96
        REMOTE_PORT = 54612
        REQUEST_METHOD = GET
        REQUEST_URI = /ivy/azenv.php
        REQUEST_TIME_FLOAT = 1477301260.793
        REQUEST_TIME = 1477301260
        </pre>
        </body>
        </html>
  recorded_at: Mon, 24 Oct 2016 09:27:46 GMT
recorded_with: VCR 3.0.3
