---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS9829 National Internet Backbone","city":"Jaipur","country":"India","countryCode":"IN","isp":"BSNL","lat":26.9167,"lon":75.8167,"org":"BSNL","query":"117.204.249.174","region":"RJ","regionName":"Rajasthan","status":"success","timezone":"Asia/Kolkata","zip":""}'
  recorded_at: Mon, 24 Oct 2016 09:28:15 GMT
- request:
    method: get
    uri: https://gist.githubusercontent.com/nikhgupta/7a3588c8b881771868dab6e04dbbac71/raw/4fd767d8af480d124a94d9d40f8a8a61132ac627/sha512.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c82dad25bb6c96a804f4b07adffeb5b17f194414"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - e4c9a5bccc57240d76f44655389edd8c423c2fc1
      Source-Age:
      - '108'
    body:
      encoding: UTF-8
      string: ccabbcb61781a9ca2b7a3c85d0c61aeb139bd014789a165a35e17a00e4be40c5448f89a59e4554296a149832fbaf303a87a2d04a5fa1edb70d80f69b048c0d99
  recorded_at: Mon, 24 Oct 2016 09:28:31 GMT
recorded_with: VCR 3.0.3
