---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS9829 National Internet Backbone","city":"Jaipur","country":"India","countryCode":"IN","isp":"BSNL","lat":26.9167,"lon":75.8167,"org":"BSNL","query":"117.203.3.218","region":"RJ","regionName":"Rajasthan","status":"success","timezone":"Asia/Kolkata","zip":""}'
  recorded_at: Sun, 23 Oct 2016 07:39:19 GMT
- request:
    method: get
    uri: http://www.rx2.eu/ivy/azenv.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
        <title>AZ Environment variables 1.04</title>
        </head>
        <body>
        <pre>
        HTTP_HOST = www.rx2.eu
        HTTP_X_REAL_IP = 94.177.243.88
        HTTP_X_FORWARDED_FOR = 117.203.3.218, 94.177.243.88
        HTTP_X_ACCEL_INTERNAL = /internal-nginx-static-location
        HTTP_CONNECTION = close
        HTTP_USER_AGENT = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36
        HTTP_VIA = 1.1 Gokhan (squid/3.3.8)
        HTTP_CACHE_CONTROL = max-age=259200
        REMOTE_ADDR = 94.177.243.88
        REMOTE_PORT = 42236
        REQUEST_METHOD = GET
        REQUEST_URI = /ivy/azenv.php
        REQUEST_TIME_FLOAT = 1477208357.876
        REQUEST_TIME = 1477208357
        </pre>
        </body>
        </html>
  recorded_at: Sun, 23 Oct 2016 07:39:23 GMT
- request:
    method: get
    uri: http://luisaranguren.com/azenv.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"\r\n
        \  \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\"
        xml:lang=\"en\" lang=\"en\">\r\n<head>\r\n<title>AZ Environment variables
        1.04</title>\r\n</head>\r\n<body>\r\n<pre>\r\nHTTP_USER_AGENT = Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko)
        Chrome/53.0.2785.143 Safari/537.36\nHTTP_HOST = luisaranguren.com\nHTTP_VIA
        = 1.1 Gokhan (squid/3.3.8)\nHTTP_X_FORWARDED_FOR = 117.203.3.218\nHTTP_CACHE_CONTROL
        = max-age=259200\nHTTP_CONNECTION = keep-alive\nREMOTE_ADDR = 94.177.243.88\nREQUEST_SCHEME
        = http\nREMOTE_PORT = 45747\nREQUEST_METHOD = GET\nREQUEST_URI = /azenv.php\nREQUEST_TIME_FLOAT
        = 1477208346.27\nREQUEST_TIME = 1477208346\n</pre>\r\n</body>\r\n</html>"
  recorded_at: Sun, 23 Oct 2016 07:39:24 GMT
recorded_with: VCR 3.0.3
