---
http_interactions:
- request:
    method: get
    uri: https://rawgit.com/nikhgupta/3a8703f8659a1739647c3c480a95ed87/raw/6ada5385033609f843155e57949c244c9c6188d8/sample.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Etag:
      - W/"fa0c0a5b644bf49c17ae245252bfd3a30cc1e2e4"
      Rawgit-Cache-Status:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <note>
          <to>Tove</to>
          <from>Jani</from>
          <heading>Reminder</heading>
          <body>Don't forget me this weekend!</body>
        </note>
  recorded_at: Sun, 23 Oct 2016 00:55:19 GMT
recorded_with: VCR 3.0.3
